<title>BLUEBikes Dashboard</title>

<!-- Icons -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<!-- Map -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Custom styles for this template -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboards/style.css' %}" />

{% block content %}
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Dashboard</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#summary">
                <i class="fas fa-chart-bar"></i>
                Trips Summary <span class="sr-only"></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#stations">
                <i class="fas fa-charging-station"></i>
                Stations on Maps
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2"></h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#summary-filter-modal">Filter</button>
            <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#stations-filter-modal">Filter</button>
          </div>
        </div>
        <div id="content"></div>
      </main>
    </div>
  </div>

  <div class="modal fade" id="summary-filter-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Trip Summary Filter</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="start-date-gt">Start Date From</label>
                <input type="date" class="form-control" id="start-date-gt">
              </div>
              <div class="form-group col-md-6">
                <label for="start-date-lt">Start Date To</label>
                <input type="date" class="form-control" id="start-date-lt">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="stop-date-gt">Stop Date From</label>
                <input type="date" class="form-control" id="stop-date-gt">
              </div>
              <div class="form-group col-md-6">
                <label for="stop-date-lt">Stop Date To</label>
                <input type="date" class="form-control" id="stop-date-lt">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="duration-gt">Duration Min</label>
                <input type="number" class="form-control" id="duration-gt">
              </div>
              <div class="form-group col-md-6">
                <label for="duration-lt">Duration Max</label>
                <input type="number" class="form-control" id="duration-lt">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="year-gt">Birth Year Min</label>
                <input type="number" class="form-control" id="year-gt">
              </div>
              <div class="form-group col-md-6">
                <label for="year-lt">Birth Year Max</label>
                <input type="number" class="form-control" id="year-lt">
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="is-subscriber">
                <label class="form-check-label" for="is-subscriber">subscriber</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="gender-1" value="1">
                <label class="form-check-label" for="gender-1">Women</label>
              </div>
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="gender-2" value="2">
                <label class="form-check-label" for="gender-2">Men</label>
              </div>
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="gender-0" value="0">
                <label class="form-check-label" for="gender-0">No answer</label>
              </div>
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="gender" value="">
                <label class="form-check-label" for="gender">All</label>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="summary-agg">Y Axis</label>
                <select id="summary-agg" class="form-control">
                  <option value="count" selected># of trips</option>
                  <option value="max">Max duration</option>
                  <option value="min">Min duration</option>
                  <option value="sum">Total duration</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary submit">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="stations-filter-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Station Filter</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="station-name">Name</label>
                <input type="text" class="form-control" id="station-name" placeholder="Name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="station-region">Region</label>
                <select id="station-region" class="form-control">
                  <option selected></option>
                  <option value="4">Brookline</option>
                  <option value="8">Cambridge</option>
                  <option value="9">Somerville</option>
                  <option value="10">Boston</option>
                  <option value="33">Motivate</option>
                  <option value="39">8D</option>
                  <option value="89">Hingham</option>
                  <option value="90">Quincy</option>
                  <option value="91">Hingham</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="capacity-gt">Capacity Min</label>
                <input type="number" class="form-control" id="capacity-gt">
              </div>
              <div class="form-group col-md-6">
                <label for="capacity-lt">Capacity Max</label>
                <input type="number" class="form-control" id="capacity-lt">
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="electric-bike-surcharge-waiver" value="option1">
                <label class="form-check-label" for="electric-bike-surcharge-waiver">Electric bike surcharge waiver</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="eightd-has-key-dispenser" value="option1">
                <label class="form-check-label" for="eightd-has-key-dispenser">Key dispenser</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="has-kiosk" value="option1">
                <label class="form-check-label" for="has-kiosk">Kiosk</label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary submit">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>

  <!-- Graphs -->
  <script src="//d3js.org/d3.v3.min.js"></script>
  
  <script src="{% static 'dashboards/index.js' %}"></script>
{% endblock %}
